<%= form_with(model: departamento) do |form| %>
  <% if departamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(departamento.errors.count, "error") %> prohibited this departamento from being saved:</h2>

      <ul>
        <% departamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-inline">
<%= form.label :nome %>
  <div class="form-group">
    <%= form.text_field :nome, class:"form-control" %>
    <%= form.submit "Salvar", class:"btn btn-success" %>
  </div>
</div>

<% end %>
